/* hot fixxes */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 0px;
	box-sizing: border-box;
}

/* Navbar UI */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(105, 200, 255);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    display: block;
    text-align: center;
}

.Navbar a:hover {
    background-color: rgb(181, 207, 207);
}

.Navbar li {
    float: left;
}
/* Body */

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


.Main-text {
    font-family: "Merienda", cursive;
    text-shadow: 1.4px 1.5px black;
    position: absolute;
    font-size: 75px;
    color: white;
    text-align: center; 
    }

    @media screen and (max-width: 479px) {
        .Main-text {
                font-size: 45px;
        }
        
    }
      
body {
    background-color: azure;
}

.Second-div {
    float: left;
    background-color: rgb(189, 195, 253);
    width: 100%;
    height: 750px;
}

.Third-div {
    float: left;
    background-color: rgb(139, 223, 218);
    width: 100%;
    height: 750px;
}

footer{
    float: left;
    background-color: cadetblue;
    width: 100%;
    height: 250px;
} 

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}