* {
    margin: 0%;
}

.Navbar ul {
    list-style-type: none;
    background-color: rgb(187, 247, 247);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.Navbar a:hover {
    background-color: rgb(158, 211, 211);
}

.Navbar li {
    float: left;
}

.Main-img {
    opacity: 75%;
}

body {
    background-color: azure;
}

footer{
    background-color: cadetblue;
    width: 100%;
    height: 100px;
} 