/* hot fix */

* {
    margin: 0%;
}
/* outside link to font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

/* NarBar */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(255, 220, 167);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-shadow: 0.8px 0.5px black;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: "Merienda", cursive;
}

.Navbar a:hover {
    background-color: rgb(199, 175, 139);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}