/* hot fix */

* {
    margin: 0%;
}
/* outside link to font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');



/* NarBar */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(255, 220, 167);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-shadow: 0.8px 0.5px black;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: "Merienda", cursive;
}

.Navbar a:hover {
    background-color: rgb(199, 175, 139);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}

/*content of the website*/

#Headline {
    height: 900px;
    width: 100%;
    background-image: url(/Assets/Leonardo_Phoenix_A_warm_and_inviting_illustration_of_the_Coast_0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#Headline-main, h1 {
    font-family: "Merienda", cursive;
    text-shadow: 1.4px 1.5px black;
    position: absolute;
    font-size: 100px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Headline-sub {
    font-family: "Merienda", cursive;
    text-shadow: 1.4px 1.5px black;
    position: absolute;
    font-size: 40px;
    color: white;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1440px) {
.Main-text {
        font-size: 35px;
        top: 168px;
        right: 50px;
}
li {
    font-size: 22px;
    display: block;
} 

.Navbar a {
    font-size: 20px; 
}

#Headline-main, h1 {
    top: 40%
}

}

@media screen and (max-width: 400px) {

    #Headline-main, h1{
       font-size: 500%;
    }

    .Navbar a {
        font-size: 11px;
    }

    .first_div_left #main-img { 
      height: 250px;
      width: 350px;
      margin-left: 10px;  
    }

    .second_div_right #main-img-2 {
      height: 250px;
      width: 340px; 
    }

    .thrid_div_left #main_img_3 {
        height: 250px;
        width: 340px;
    }

    .first_div_left #headline {
        font-size: 45px;
    }

    .second_div_right #headline_2 {
        font-size: 45px;
    }

    .thrid_div_left #headline_3 {
        font-size: 45px;
    }

    .first_div_left #main-text{ 
        font-size: 20px;
        
    }

    .second_div_right #main-text-2 { 
        font-size: 20px;
        
    }

    .thrid_div_left #main_text_3{ 
            font-size: 20px;
            
    }

}

 

/* divs  p1 */

.first_div_left {
    float: left;
    display: flexbox;
    background-color: rgb(255, 220, 167);
    width: 100%;
    height: auto;
}

#headline {
    float: right;
    font-size: 55px;
    margin-top: 25px;
    margin-right: 30px;
    font-family: "Merienda", cursive;
}

#main-img {
    float: left;
    width: 600px;
    height: 400px;
    margin-top: 130px;
    margin-left: 20px;
}

#main-text {
    display: flexbox;
    font-size: 40px;
    margin-top: 150px;
    margin-right: 30px;
    font-family: "Handlee", cursive;
}
     
        
/* div p2 */    

.second_div_right {
    float: right;
    background-color: rgb(255, 220, 167);
    width: 100%;
    height: auto;
}

#headline_2 {
    float: left;
    font-size: 55px;
    margin-top: 25px;
    margin-right: 30px;
    font-family: "Merienda", cursive;
}

#main-img-2 {
    float: right;
    width: 600px;
    height: 400px;
    margin-top: 50px;
    margin-right: 20px;
} 

#main-text-2 {
    display: flexbox;
    font-size: 40px;
    margin-top: 130px;
    margin-right: 30px;
    font-family: "Handlee", cursive;
}


/* div p3 */


.thrid_div_left {
    float: left;
    background-color: rgb(255, 220, 167);
    width: 100%;
    height: auto;
}

#headline_3 {
    float: right;
    font-size: 70px;
    top: 130px;
    left: 300px;
    font-family: "Merienda", cursive;
}

#main_img_3 {
    border: 5px white;
    display: flexbox;
    float: left;
    width: 600px;
    height: 400px;
    margin-top: 90px;
    margin-left: 20px;
}

#main_text_3 {
    display: flexbox;
    font-size: 40px;
    margin-top: 150px;
    margin-right: 30px;
    margin-bottom: 60px;
    font-family: "Handlee", cursive;
}

/* Footer */

footer{
    float: left;
	width: 100%;
	height: auto;
    background-color: rgb(206, 178, 136);
	color: #fff;
	text-align: center;
}

.Certificates {
    background-color: rgb(206, 178, 136);
}

#Certificates {
    top: 20px;
    height: 170px;
    width: 200px;
}