/*Hot fixes*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@media screen and (max-width: 1550px) {
H1 {
    font-size: 25%;
    top: 168px;
    right: 50px;
}
li {
    font-size: 22px;
    display: block;
} 

.Navbar a {
    font-size: 16px;
    
}
}

/* NarBar */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(255, 220, 167);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

/* outside link to font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.Navbar a {
    color: white;
    text-shadow: 0.8px 0.5px black;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: "Merienda", cursive;
}

.Navbar a:hover {
    background-color: rgb(199, 175, 139);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}

/*Headline*/

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.Headline {
    font-family: "Merienda", cursive;
    text-shadow: 1.4px 1.5px black;
    position: flex;
    font-size: 75px;
    color: white;
    text-align: center;
}

/*Contact Form*/

.wrapper{
    background-image: url(/Assets/Leonardo_Phoenix_A_warm_and_inviting_illustration_of_the_Coast_3.jpg);
    height: 100vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


h1 {
    text-align: center;
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 1.4px 1.5px black;
}

form {
    background-color: rgb(250, 235, 215,0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 400px;
    height: 300px;
    position: absolute !important;
    top: 250px;
    left: 700px;
    border: 2px solid burlywood;

}

.input-area {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fname {
    margin-left: 6px;
    width: 200px;
    height: 30px;
    align-items: center;
}

#lname {
    width: 200px;
    height: 30px;
    align-items: center;
}

#Email {
    margin-left: 67px;
    width: 200px;
    height: 30px;
    left: 15px;
}

#message {
    margin-top: 10px;
}

input, submit {
    width: 125px;
    height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
.field-email {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.field-message {
    font-size: 30px;
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/

footer{
    float: left;
    background-color: cadetblue;
    width: 100%;
    height: 250px;
    color: #fff;
	text-align: center;
} 