* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* NarBar */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(187, 247, 247);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 70px;
    display: block;
    text-align: center;
    align-items: center;
}

.Navbar a:hover {
    background-color: rgb(158, 211, 211);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}

.form_container {
    background-color: aqua;
}