/*Hot fixes*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* NarBar */
.Navbar ul {
    list-style-type: none;
    background-color: rgb(105, 200, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.Navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    display: block;
    text-align: center;
    align-items: center;
}

.Navbar a:hover {
    background-color: rgb(194, 253, 253);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}

/*Headline*/

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.Headline {
    font-family: "Merienda", cursive;
    text-shadow: 1.4px 1.5px black;
    position: flex;
    font-size: 75px;
    color: white;
    text-align: center;
}

/*Contact Form*/

.wrapper{
    background-image: url(/Assets/Leonardo_Phoenix_A_warm_and_inviting_illustration_of_the_Coast_3.jpg);
    height: 100vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


h1 {
    text-align: center;
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 1.4px 1.5px black;
}

form {
    background-color: rgb(250, 243, 234);
    width: 500px;
    height: 450px;
    position: absolute !important;
    top: 250px;
    left: 700px;
    border: 2px solid burlywood;
}



footer{
    float: left;
    background-color: cadetblue;
    width: 100%;
    height: 250px;
    color: #fff;
	text-align: center;
} 