* {
    margin: 0%;
}

/* outside link to font */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.Navbar ul {
    list-style-type: none;
    background-color: rgb(255, 220, 167);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
}

.Navbar a {
    font-family: "Merienda", cursive;
    color: white;
    text-shadow: 0.8px 0.5px black;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    display: block;
    text-align: center;
}

.Navbar a:hover {
    background-color: rgb(199, 175, 139);
}

.Navbar li {
    float: left;
}

ul li { 
    width: 25%;
    display: inline-block;
    text-align: center;
}

.first-div-box {
    background-image: url(/Assets/Leonardo_Phoenix_A_warm_and_inviting_exterior_shot_of_the_Coas_3.jpg);
    background-color: bisque;
    width: 100%;
    height: 300px;
}

.second-div-box {
    background-color: aquamarine;
    width: 100%;
    height: 300px;
}

.third-div-box {
    background-color: darkkhaki;
    width: 100%;
    height: 300px;

}

footer{
    float: left;
	width: 100%;
	height: 120px;
	background: #274254;
	margin-top: -120px;
	color: #fff;
	text-align: center;
} 